:root {
  font-family: serif;
  font-size: min(1vw, 1dvh);
}

* {
  user-drag: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background: #654;
  color: #FFF;
  overflow: hidden;
  background: #730;
  background-image:
    radial-gradient(at 15% 25%,
      #420 00%, transparent 01%,
      #420 05%, transparent 05.1%,
      #420 10%, transparent 10.1%,
      #420 15%, transparent 15.1%,
      #420 20%, transparent 20.1%,
      #420 25%, transparent 25.1%
    ),
    radial-gradient(at -5% 78%,
      #420 00%, transparent 01%,
      #420 05%, transparent 05.1%,
      #420 10%, transparent 10.1%,
      #420 15%, transparent 15.1%,
      #420 20%, transparent 20.1%,
      #420 25%, transparent 25.1%
    );
  background-size: 650vw 50dvh;
  @media (orientation: landscape) {
    background-size: 650vw 75dvh;
  }
  // Why dvh? https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser#answer-72245072
}

#table {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  touch-action: none;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  filter:
    drop-shadow(-.3em 1em .6em rgba(0,0,0,.8))
    drop-shadow(1em 1em 2em rgba(0,0,0,.8));

  &.hide {
    transform: translateY(-150em) scale(0);
    animation: 1.5s ease-in hide-header;
  }

  @keyframes hide-header {
    0% { transform: translateY(0) scale(1) }
    40% { transform: translateY(-20em) scale(1, 1.4) }
    100% { transform: translateY(-150em) scale(1) }
  }

  div {
    font-size: 3px;
    transform: scale(var(--em));
    padding: 1px 0 0 9px;
    box-sizing: border-box;
    width: 60px;
    height: 80px;
    margin: -20px -30px;
    background: linear-gradient(#666, #BBB 2%, #EEE 5%, #888 40%, #888 60%, #EEE);
    clip-path: path("M 0 0 L 50 0 C 70 10 40 65 60 75 L 10 75 C -10 65 20 10 0 0");
    color: rgba(0,0,0,.6);

    &::after {
      content: "XIII";
      position: absolute;
      display: block;
      top: 67px;
      left: 41px;
      color: #B00;
      font-weight: bold;
      transform: skewX(21deg);
    }

    h1 {
      margin: 1em .35em;
      font-size: 1.25em;
      transform: skewX(12deg);
      color: #944;
    }

    >p {
      margin-left: 2.5px;
    }

    pre {
      padding-top: 1em;
      font-family: inherit;
      transform: skewX(-8deg);
      height: 38px;
      p { margin: 0 }
      .l1 { transform: skewX(4deg) }
      .l0 { transform: skewX(8deg) }
    }
  }
}

#pieces-3, #pieces-4 {
  display: none;
}
