#board, #places {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92em;
  height: 92em;
  transform: translate(-46em, -46em);
}

#board {
  background: #7f7f7f;
  mix-blend-mode: overlay;

  u {
    top: calc( 31em * var(--l) );
    left: 0;
    &, &::before, &::after {
      content: "";
      position: absolute;
      width: 30em;
      height: 30em;
      border-radius: 8em;
      background: #666;
      box-shadow: inset .5em .5em 1em rgba(0,0,0,.666), inset -.5em -.5em 1em #FFF;
      opacity: .8;
    }
    &::before { left: 31em }
    &::after { left: 62em }
  }
}

#places {
  mix-blend-mode: color;
  p {
    position: absolute;
    left: calc( 5em + 31em * var(--x) );
    top: calc( 4em + 31em * var(--y) );
    width: 20em;
    height: 20em;
    border-radius: 5em;
    --color: #0AF;
    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      left: -4.5em;
      top: -4.5em;
      width: 29em;
      height: 29em;
      border-radius: 7em;
      background: var(--color);
      opacity: 0;
      transition: 1s ease-out;
      filter: blur(.5em);
    }
    &.hover::before {
      opacity: 1;
      transition: .3s;
    }
  }
}
