@use "sass:math";

.coin {
  &.player-0 { --p: 1 }  // First player positioning multiplyer.
  &.player-1 { --p: -1 } // Second player positioning multiplyer.
  will-change: top, left, transform;

  pointer-events: none;
  position: absolute;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin: 0 0 0 -2em;
  cursor: grab;
  transition: 1.5s linear; // ease-out;
  transform: translate(0, 0) rotate(calc(var(--p)*450deg));

  @media (orientation: portrait) {
    top: calc(50dvh - var(--p)*10em);
    left: 105vw;
  }
  @media (orientation: landscape) {
    left: calc(40vw - var(--p)*10em);
    top: 102dvh;
  }

  &::after, &::before { // The balloon with the coin name
    pointer-events: none;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    z-index: 9;
    font-size: 0;
    opacity: 0;
    transition: 1s ease-in;
  }
  &:hover::after, &:hover::before {
    font-size: 2em;
    opacity: 1;
    transition: .5s;
  }
  @media (orientation: landscape) {
    &.pop {
      &::after, &::before {
        margin-top: 3em;
        filter: none;
      }
    }
  }
  &::after {
    content: attr(data-name);
    color: #000;
    background: #FFF;
    padding: .1em .5em;
    border-radius: .5em;
    transform: translate(-1.7em, calc(var(--size) * -0.25 - 1.5em));
  }
  &::before {
    content: "";
    border: .3em solid transparent;
    border-top: 1em solid #fff;
    transform: translate(-1em, calc(var(--size) * -0.25 - .2em));
    filter: drop-shadow(.1em .1em .2em #000);
  }

  &.created {
    transform: rotate(0);
    z-index: 9;
    &.mv-pre-1, &.mv-pos-1, &.mv-pos-2 {
      transition: .5s ease-out;
    }
    @media (orientation: portrait) {
      transform: translateY(calc(var(--p)*-2dvh));
      &.player-0 { top: calc(9em + 5em * var(--pos)) }
      &.player-1 { top: calc(100dvh - 36.5em + 5em * var(--pos)) }
      left: calc( 3vw + 82vw * var(--pos) );
      &.mv-pre-1 { transform: translate(-3vw, calc(var(--p)*-3dvh)) rotate(-15deg) }
      &.mv-pos-1 { transform: translate(8vw,  calc(var(--p)*-4dvh)) rotate(30deg) }
      &.mv-pos-2 { transform: translate(3vw,  calc(var(--p)*-2dvh)) rotate(15deg) }
    }
    @media (orientation: landscape) {
      &.player-0 { left: calc(7em + 5em * var(--pos)) }
      &.player-1 { left: calc(100vw - 30em + 5em * var(--pos)) }
      top: calc( 1dvh + 81dvh * var(--pos) );
      transform: translateX(calc(var(--p)*-2vw)) rotate(calc(var(--p)*-10deg));
      &.mv-pre-1 { transform: translate(calc(var(--p)*-3vw), -3dvh) rotate(calc(var(--p)*-20deg)) }
      &.mv-pos-1 { transform: translate(calc(var(--p)*-3vw), 8dvh)  rotate(calc(var(--p)*-30deg)) }
      &.mv-pos-2 { transform: translate(calc(var(--p)*-2vw), 4dvh)  rotate(calc(var(--p)*-20deg)) }
    }
    &:hover {
      transform: none;
      transition: .5s ease-out;
    }
  }

  &.waiting {
    pointer-events: all;
  }

  .grabbing & {
    pointer-events: none;
    cursor: grabbing;
  }

  &.grabed {
    //pointer-events: none;
    transition: 0s;
    z-index: 10;
  }

  &.created.placed {
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(calc( 1.5em + var(--placeX) * 31em - var(--size)/2 ), calc(-.5em +  var(--placeY) * 31em - var(--size)/2 )) !important;
    transition: .3s;
    z-index: var(--idx)
  }

  .cur-player-0 &.waiting.player-1, .cur-player-1 &.waiting.player-0,
  .draw &, .over &.waiting {
    pointer-events: none;
    filter: brightness(.6);
  }
}

.coin i { // The coin texture (light NW)
  pointer-events: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--bg0);
  background-position: var(--bgX) var(--bgY);
  background-size: 80em 80em;
  border-radius: 50%;
  overflow: hidden;
}

.coin i::before { // The coin texture (light NE)
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: inherit;
  background-image: var(--bg1);
  opacity: 0;
  transition: .8s linear;
}

.coin.player-1 i {
  background-image: var(--bg2);
  &::before { background-image: var(--bg3) }
}

.coin i::after { // The coin light
  content: "";
  display: block;
  position: absolute;
  width: 300%;
  height: 100%;
  left: -300%;
  top: 0;
  background: linear-gradient(45deg, #444 33%, #FFF 50%, #FFF, transparent 70%);
  opacity: .9;
  mix-blend-mode: overlay;
  transition: .8s ease-out;
}

.coin.grabed {
  i::before {
    opacity: 1;
    transition: .4s linear;
  }
  i::after {
    left: -50%;
    transition: .4s ease-out;
  }
}

.coin.win {
  i::before {
    animation: 1.5s ease-in-out infinite alternate light-NW-NE;
  }
  i::after {
    animation: 1.5s ease-in-out infinite alternate bright;
  }
}
@keyframes light-NW-NE {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes bright {
  0% { left: -300% }
  100% { left: -33% }
}

// .draw .coin i::after {
//   left: 0;
//   background: #444;
// }

/* * * Coin Role Textures * * * * * * * * * * * * * * * * * * * * * * * * * * */

.coin.pop {
  --size: 26.6em;
  --bgX: 0%;
  --bgY: 0%;
}
.coin.kin {
  --size: 25.2em;
  --bgX: 50%;
  --bgY: -.666em;
}
.coin.bis {
  --size: 23.8em;
  --bgX: -54.8em;
  --bgY: -1.333em;
}

.coin.nob {
  --size: 22.4em;
  --bgX: -2.1em;
  --bgY: 50%;
}
.coin.pri {
  --size: 21.0em;
  --bgX: 50%;
  --bgY: 50%;
}
.coin.kni {
  --size: 19.6em;
  --bgX: 23.2em;
  --bgY: 50%;
}

.coin.bou {
  --size: 18.2em;
  --bgX: -4.2em;
  --bgY: -57.5em;
}
.coin.ser {
  --size: 16.8em;
  --bgX: 50%;
  --bgY: -58.2em;
}
.coin.pea {
  --size: 15.4em;
  --bgX: -58.9em;
  --bgY: -58.9em;
}

/* * * Coin Shadow * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.coin b {
  pointer-events: none;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #320;
  border-radius: 50%;
  box-shadow:
    .3em .3em .5em .2em rgba(20,5,0,.7),
    0em 0em 1.5em .5em rgba(0,0,0,.8);
  transform: rotate(calc(var(--p)*-450deg)) translate(.3em, .8em);
  transition: 1.5s ease-out;
}

.coin.player-1 b { background: #222 }

.coin.created b { transform: rotate(0) translate(.3em, .8em) }
